#Ignore compiled files that tend to stay around after local container testing.
*.pyc

#Environment variables.
env.list

#Random notes.
notes.txt
notes.py
notes2.py
example_queries.txt

#Local cache files.
cached_data/*.pkl

#Environment-specific sam configuration file.
samconfig.toml
.aws-sam/